header, main, footer {
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    margin: 0px 115px;

    /* padding: top right/left bottom */
    /* padding: 55px 60px 95px */
}

header {
    padding: 55px 30px 95px 60px;
}

footer {
    padding: 0 165px 65px 0;
}


h1 {
    font-size: 40px;
    font-family: Arial, "Roboto", sans-serif;
    float: left;
}

nav {
    font-size: 21px;
    font-family: "Segoe UI", "Roboto", sans-serif;
    float: right;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0px 30px;
}

button {
    width: 199px;
    height: 60px;
    background-color: #252c41;
    color: inherit;
    border: none;
    font-size: 19px;
    font-family: Arial, "Roboto", sans-serif;
    float: right;
}