header {
    background-color: #e24647;
}

h1, a {
    color: #fff;
}

h1 {
    font-size: 40px;
    font-family: Arial;
}

a {
    text-decoration: none;
    font-size: 21px;
    font-family: "Segoe UI";
}

nav {
    position: absolute;
    top: 0px;
    right: 0px;
}